.container {
  width: 70%;
  height: var(--device-height);
  background: white;
  top: 55px;
  left: 0;
  left: -110vw;
  padding: 20px;
  transition: all 0.6s ease-in-out;
  position: absolute;
  z-index: 2;
}

.container button {
  float: right;
}

.container h3 {
  font-size: 30px;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

.container article ul {
  list-style: none;
}

.container article > ul > li > a {
  display: flex;
  font-family: var(--font);
  align-items: center;
  text-decoration: none;
  color: black;
  margin: 40px;
}

.container article > ul > li > a > img {
  margin-right: 40px;
}

.container::after {
  content: "";
  width: 43%;
  height: var(--device-height);
  background: black;
  opacity: 0.5;
  top: 0;
  right: -43%;
  position: absolute;
  z-index: 2;
}
